.window{
    z-index: 4;
    background-image: url(../assets/png/window.png);
    user-select: none;
}

.window_text{
    color: aliceblue;
    font-family: var(--primera);
    padding: 11%;
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: row;
    overflow: hidden;
}

.window_text .window_left{
    width: 100%;
    height: 90vh;
    display: flex;
    flex-direction: column;
    align-items: top;
    justify-content: top;
    text-align: center;
}

.window_text .window_right{
    width: 100%;
    height: 90vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.window_text .window_left h1,
.window_text .window_right h1{
    font-size: 5rem;
}