<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Estructuras</title>

	<link rel="stylesheet" href="../css/base-views.css">
	<link rel="stylesheet" href="../css/estructuras.css">
	<script src="../js/base-views.js" defer type="module"></script>
	<script src="../js/estructuras.js" type="module"></script>
</head>
<body>

	<div class="container">
		<section class="gallery">

			<div class="frame">
				<div class="frame__content">
					<h2>Estructuras</h2>
				</div>
			</div>

			<div class="frame frame_bg">
				<div class="frame__content">
					<video class="frame-media" src="../assets/media/particulas.mp4" autoplay loop muted></video>
				</div>
			</div>

			<div class="frame frame_bg">
				<div class="frame__content">
					<h3>Configuración de Rutas</h3>
                    <p>Colocar el siguiente codigo en el archivo web.php</p>
					<pre><code>
Route::get('/vue', function () {
    return view('vue');
});
					</code></pre>
				</div>
			</div>

            <div class="frame frame_bg">
				<div class="frame__content text-left">
					<h1>Crear Archivo principal</h1>
					<pre><code class="language-javascript">
touch resources/views/vue.blade.php
					</code></pre>
				</div>
				<div class="frame__content text-right">
					<p>Dentro del archivo principal colocar: </p>
                    <pre><code class="language-html">
&lt;body&gt;
    &lt;div id="app"&gt;&lt;/div&gt;

    @vite(['resources/js/vue/main.js'])
&lt;/body&gt;
                    </code></pre>
				</div>
			</div>

			<div class="frame frame_bg">
				<div class="frame__content">
					<h3>Instalar vue router</h3>
					<pre><code>
npm install vue-router@next
                    </code></pre>
				</div>
			</div>

			<div class="frame frame_bg">
				
				<div class="frame__content">
					<h3>Configuración router</h3>
                    <p>en el archivo router.js colocamos lo siguiente</p>
					<br>
					<pre><code class="language-javascript">
import { createRouter,createWebHashHistory } from "vue-router";
import Libros from './components/LibroComponent.vue';

const routes = [
    {
        name: 'home',
        path: '/',
        redirect: '/vue'  // Redirigir la raíz a la ruta '/vue'
    },
    {
        name: 'libros',
        path: '/libro',
        component: Libros
    },
];

const router=createRouter({
    history: createWebHashHistory(),
    routes:routes
});

export default router;
					</code></pre>
				</div>
			</div>

			<div class="frame frame_bg">
                <div class="frame__content text-left ">
                    <p>tenemos que especificar la ruta en app.vue</p>
                </div>
				<div class="frame__content text-right ">
					<pre><code class="language-html">
&lt;template&gt;
    &lt;router-link :to=&quot;{name:'presentacion'}&quot; class=&quot;inicio&quot;&gt;Inicio&lt;/router-link&gt;
    &lt;router-view&gt;&lt;/router-view&gt;
&lt;/template&gt;

&lt;script&gt;
    export default {
        name: 'App',
        components: {
        }
    }
&lt;/script&gt;
                        </code></pre>
				</div>
			</div>

			<div class="frame frame_bg">
				<div class="frame__content text-left">
					<h2>Pinia normal</h2>
					<pre><code class="language-javascript">
npm install pinia
					</code></pre>
				</div>
				<div class="frame__content text-right">
					<h2>Pinia con persistencia</h2>
					<pre><code class="language-javascript">
npm install pinia-plugin-persistedstate
					</code></pre>
				</div>
            </div>

			<div class="frame frame_bg">
				<div class="frame__content">
					<h2>Configuración Principal</h2>
                    <h4>dentro del archivo main.js</h4>
					<pre><code class="language-javascript">
import { createApp } from "vue";
import App  from './App.vue';
import axios from "axios";
import router from './router.js';
import '../../css/vue.css';
import { createPinia } from 'pinia';

const app=createApp(App);
app.use(router).use(pinia);

app.config.globalProperties.$axios = axios;
window.axios=axios;

app.mount("#app");
					</code></pre>
				</div>
			</div>

			<div class="frame frame_bg">
				<div class="frame__content">
					<h3>Creación del Multistore</h3>
					<p>
						El store es necesario para el cargado de datos más rapidos, por favor descarge
                        el archivo y guardelo en la carpeta store: js/vue/store
					</p>
                    <a href="../docs/useGenericStore.js" download="useGenericStore.js">Descargar</a>
				</div>
			</div>

			<div class="frame"></div>

			<div class="frame frame_bg">
				<div class="frame__content">
					<h3>Cambio de ruta</h3>
                    <p>En la linea 10 del archivo que acaba de descargar cambie la ruta a la
                        ruta propia de su proyecto, por lo general solo es cambiar el nombre al
                        nombre de su proyecto.</p>
				</div>
			</div>

			<div class="frame frame_bg">
				<div class="frame__content">
					<h3>Uso de modelos</h3>
					<br>
					<p>A continuacin las funciones basicas que cumple un proyecto tanto como
                        eliminar, actualizar y registrar.</p>
                    <h4>js/vue/jsComponents</h4>
				</div>
			</div>

			<div class="frame frame_bg">
				<div class="frame__content text-left">
                    <h4>Modelo de lista</h4>
                    <br>
                    <a href="../docs/useListModel.js">Descargar</a>
				</div>
				<div class="frame__content text-right">
                    <h4>Modelo de formulario</h4>
                    <br>
                    <a href="../docs/useFormModel.js">Descargar</a>
				</div>
			</div>

			<div class="frame frame_bg">
				<div class="frame__content">
					<h1>2do main.js</h1>
					<p>creamos otro main.js en la carpeta de jsComponents, con la función de
                        unir los dos modelos en un solo archivo y no confundirse en la sincronización
                        de datos en el frontend
                    </p>
                    <br>
                    <a href="../docs/main.js" download="main.js">descargar Main.js</a>
				</div>
			</div>

            <div class="frame frame_bg">
				<div class="frame__content">
					<h3>Como Enlistar</h3>
					<br>
					<p>
                        Considerando que enlistar datos es muy fundamental, para saber
                        si los datos se sincronizan perfectamente con el backend    
                    </p>
				</div>
			</div>

			<div class="frame frame_bg">
				<div class="frame__content text-left">
					<h3>Estructura html</h3>
                    <pre><code>
&lt;tr v-for=&quot;item in data&quot; :key=&quot;item.id&quot;&gt;
    &lt;td&gt;{{ item.titulo }}&lt;/td&gt;
    &lt;td&gt;{{ item.stock }}&lt;/td&gt;
&lt;/tr&gt;
                    </code></pre>
				</div>
                <div class="frame__content text-right">
					<h3>Estructura Javascript</h3>
                    <pre><code>
import { useListModel } from '../jsComponents/main.js';

export default {
  setup() {
    const { data,
        isLoading,
        pagination,
        fetchPagina,
        eliminar,
        search,
        buscar } = useListModel('tabla_dos');
    return {
      data,
      isLoading,
      pagination,
      fetchPagina,
      eliminar,
      search,
      buscar,
    };
  },
};
                    </code></pre>
				</div>
			</div>

            <div class="frame frame_bg">
				<div class="frame__content">
					<h3>Como Registrar</h3>
					<br>
					<p>
                        Si se siguieron todos los pasos correctamente el registro no debería dar ningún
                        problema, pero por si acaso hubo algún problema por favor revisar todos los pasos
                        de nuevo o informar al desarrollador.  
                    </p>
				</div>
			</div>

            <div class="frame"></div>

			<div class="frame frame_bg">
				<div class="frame__content text-left">
					<h3>Estructura html</h3>
                    <pre><code class="language-html">
&lt;form @submit.prevent=&quot;enviar&quot;&gt;
    &lt;div&gt;
        &lt;label for=&quot;titulo&quot;&gt;Título:&lt;/label&gt;
        &lt;input type=&quot;text&quot; id=&quot;titulo&quot; v-model=&quot;form.titulo&quot; required /&gt;
    &lt;/div&gt;
    &lt;div&gt;
        &lt;label for=&quot;stock&quot;&gt;Stock:&lt;/label&gt;
        &lt;input type=&quot;number&quot; id=&quot;stock&quot; v-model=&quot;form.stock&quot; required /&gt;
    &lt;/div&gt;
    &lt;button type=&quot;submit&quot;&gt;{{ editMode ? 'Actualizar' : 'Registrar' }}&lt;/button&gt;
    &lt;button type=&quot;button&quot; @click=&quot;cancelar&quot;&gt;Cancelar&lt;/button&gt;
&lt;/form&gt;
                    </code></pre>
				</div>
                <div class="frame__content text-right">
					<h3>Estructura Javascript</h3>
                    <pre><code>
import { useFormModel } from '../jsComponents/main.js';

export default {
    setup() {
    const { form, enviar, cancelar, editMode } = useFormModel('tabla_dos', {
        titulo: '',
        stock: 0,
    });

    return {
        form,
        enviar,
        cancelar,
        editMode,
    };
    },
};
                    </code></pre>
				</div>
			</div>

			<div class="frame">
				<div class="frame__content">
					<h2>Felicidades</h2>
					<p>Hemos terminado con la fase de Api rest</p>
				</div>
			</div>

			<div class="frame frame_bg">
				<div class="frame__content">
					<video class="frame-media" src="../assets/media/particulas.mp4" autoplay loop muted></video>
				</div>
			</div>

			<div class="frame">
				<div class="frame__content">©Julián Pérez Bueno</div>
			</div>

			

		</section>
	</div>

	<img class="soundbutton paused" src="../assets/img/sound.gif" alt="Alt">
	<audio class="audio" src="../assets/media/ambient.mp3" loop></audio>

</body>
</html>