<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Estructuras</title>

	<link rel="stylesheet" href="../css/base-views.css">
	<link rel="stylesheet" href="../css/estructuras.css">
	<script src="../js/base-views.js" defer type="module"></script>
	<script src="../js/estructuras.js" type="module"></script>
</head>
<body>

	<div class="container">
		<section class="gallery">

			<div class="frame">
				<div class="frame__content">
					<h2>Estructuras</h2>
				</div>
			</div>

			<div class="frame frame_bg">
				<div class="frame__content">
					<video class="frame-media" src="../assets/media/particulas.mp4" autoplay loop muted></video>
				</div>
			</div>

			<div class="frame">
				<div class="frame__content text-left">
					<h3>Configuración de Rutas</h3>
                    <p>Colocar el siguiente codigo en el archivo web.php</p>
					<pre><code>
Route::get('/vue', function () {
    return view('vue');
});
					</code></pre>
				</div>
				<div class="frame__content">
					<div class="frame-media frame-media_right" style="background-image: url(../assets/img/t6.webp);"></div>
				</div>
			</div>

            <div class="frame frame_bg">
				<div class="frame__content">
					<h1>Contenido vue.blade.php</h1>
					<p>Dentro del archivo vue.blade.php principal colocar: </p>
                    <pre><code class="language-html">
&lt;body&gt;
    &lt;div id="app"&gt;&lt;/div&gt;

    @vite(['resources/js/vue/main.js'])
&lt;/body&gt;
                    </code></pre>
				</div>
				
			</div>

			<div class="frame frame_bg">
				
				<div class="frame__content">
					<h3>Configuración router</h3>
                    <p>en el archivo resources/js/vue/router.js colocamos lo siguiente</p>
					<br>
					<a href="../docs/router.js" download="router.js">Descargar Router.js</a>
				</div>
			</div>

			<div class="frame frame_bg">
                <div class="frame__content text-left ">
                    <p>tenemos que especificar la ruta en app.vue</p>
                </div>
				<div class="frame__content text-right ">
					<pre><code class="language-html">
&lt;template&gt;
	&lt;router-link :to=&quot;{name:'listas'}&quot; class=&quot;inicio&quot;&gt;Listas&lt;/router-link&gt;
	&lt;router-link :to=&quot;{name:'registrar'}&quot; class=&quot;inicio&quot;&gt;Listas&lt;/router-link&gt;
    &lt;router-view&gt;&lt;/router-view&gt;
&lt;/template&gt;

&lt;script&gt;
    export default {
        name: 'App',
        components: {
        }
    }
&lt;/script&gt;
                        </code></pre>
				</div>
			</div>

			<div class="frame">
				<div class="frame__content text-left">
					<h2>Configuración Principal</h2>
                    <h4>dentro del archivo resources/js/main.js</h4>
					<pre><code class="language-javascript">
import { createApp } from "vue";
import App  from './App.vue';
import axios from "axios";
import router from './router.js';
import '../../css/vue.css';
import { createPinia } from 'pinia';

const app=createApp(App);
const pinia = createPinia();
app.use(router).use(pinia);

app.config.globalProperties.$axios = axios;
window.axios=axios;

app.mount("#app");
					</code></pre>
				</div>
				<div class="frame__content">
					<div class="frame-media frame-media_right" style="background-image: url(../assets/img/t7.webp);"></div>
				</div>
			</div>

			<div class="frame frame_bg">
				<div class="frame__content">
					<h3>Creación del Multistore</h3>
					<p>
						El store es necesario para el cargado de datos más rapidos, por favor descarge
                        el archivo y guardelo en la carpeta store: js/vue/store
					</p>
                    <a href="../docs/useGenericStore.js" download="useGenericStore.js">Descargar</a>
				</div>
			</div>

			<div class="frame"></div>

			<div class="frame">
				<div class="frame__content text-right">
					<h3>Cambio de ruta</h3>
                    <p>En la linea 10 del archivo que acaba de descargar cambie la ruta a la
                        ruta propia de su proyecto, por lo general solo es cambiar el nombre al
                        nombre de su proyecto.</p>
				</div>
			</div>

			<div class="frame">
				<div class="frame__content">
					<div class="frame-media frame-media_left" style="background-image: url(../assets/img/t8.webp);"></div>
				</div>
			</div>

			<div class="frame frame_bg">
				<div class="frame__content text-right">
					<h3>Uso de modelos</h3>
					<br>
					<p>A continuación las funciones basicas que cumple un proyecto tanto como
                        eliminar, actualizar y registrar.</p>
                    <h4>js/vue/jsComponents</h4>
				</div>
			</div>

			<div class="frame frame_bg">
				<div class="frame__content text-left">
                    <h4>Modelo de lista</h4>
                    <br>
                    <a href="../docs/useListModel.js" download="useListModel">Descargar</a>
				</div>
				<div class="frame__content text-right">
                    <h4>Modelo de formulario</h4>
                    <br>
                    <a href="../docs/useFormModel.js" download="useFormModel">Descargar</a>
				</div>
			</div>

			<div class="frame frame_bg">
				<div class="frame__content">
					<h1>2do main.js</h1>
					<p>creamos otro main.js en la carpeta de jsComponents, con la función de
                        unir los dos modelos en un solo archivo y no confundirse en la sincronización
                        de datos en el frontend
                    </p>
                    <br>
                    <a href="../docs/main.js" download="main.js">descargar Main.js</a>
				</div>
			</div>

			<div class="frame">
				<div class="frame__content">
					<div class="frame-media" style="width: 1200px;background-image: url(../assets/img/t11.webp);"></div>
				</div>
			</div>

			<div class="frame"></div>

            <div class="frame">
				<div class="frame__content text-right">
					<h3>Como Enlistar</h3>
					<h1>resources/js/vue/components/listas.vue</h1>
					<br>
					<p>
                        Considerando que enlistar datos es muy fundamental, para saber
                        si los datos se sincronizan perfectamente con el backend    
                    </p>
					<br>
					<a href="../docs/listas.vue" download="listas.vue">Descargar la lista</a>
				</div>
			</div>

			<div class="frame frame_bg">
				<div class="frame__content">
					<div class="frame-media frame-media_left" style="background-image: url(../assets/img/t9.webp);"></div>
				</div>
			</div>

            <div class="frame frame_bg">
				<div class="frame__content text-right">
					<h3>Como Registrar</h3>
					<h1>resources/js/vue/components/registro.vue</h1>
					<br>
					<p>
                        Si se siguieron todos los pasos correctamente el registro no debería dar ningún
                        problema, pero por si acaso hubo algún problema por favor revisar todos los pasos
                        de nuevo para después poder informar al desarrollador.  
                    </p>
					<br>
					<a href="../docs/registros.vue" download="registros.vue">Descargar el Registro</a>
				</div>
			</div>

			<div class="frame frame_bg">
				<div class="frame__content text-right">
					<h1>Iniciar el laravel</h1>
					<p>Se recomienda agregar los modelos en la carpeta de config</p>
					<pre><code class="language-html">
php artisan serve
					</code></pre>
				</div>
				<div class="frame__content text-left">
					<h1>Iniciar el Vue.js</h1>
					<p>Se recomienda configurar los nombres de las tablas en listas.vue y registros.vue</p>
					<pre><code class="language-html">
npm run dev
					</code></pre>
				</div>
			</div>

            <div class="frame"></div>

			<div class="frame">
				<div class="frame__content">
					<h2>Felicidades</h2>
					<p>Hemos terminado con la fase de Estructuras</p>
					<p>Estamos trabajando para avanzar más en el sistema, muchas gracias por su comprensión</p>
				</div>
			</div>

			<div class="frame frame_bg">
				<div class="frame__content">
					<video class="frame-media" src="../assets/media/particulas.mp4" autoplay loop muted></video>
				</div>
			</div>

			<div class="frame">
				<div class="frame__content">©Julián Pérez Bueno
					<br>
					<a href="../index.html">Inicio</a>
				</div>
			</div>

			

		</section>
	</div>

	<img class="soundbutton paused" src="../assets/img/sound.gif" alt="Alt">
	<audio class="audio" src="../assets/media/ambient.mp3" loop></audio>

</body>
</html>